$darkblue-op: rgba(38, 48, 58, 0.5);
$lightgray: #e6e6e6;
$bg-color: #6C85E6;
$bg-color-alternate: #0000c2;
$white-op: rgba(255, 255, 255, 0.4);

$mob-tab-widths-only: (max-width: 1199px);
$tablet-widths: (min-width: 700px);
$desktop-widths: (min-width: 1200px);

$retina: (min-resolution: 144dpi) and (min-resolution: 1.5dppx);